<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Licence</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Welcome, {{ user.username }}!</h1>-->
<!--    <a href="{% url 'client_add' %}" class="btn btn-light">Add Client</a>-->
<!--    <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a>-->
<!--    <a href="{% url 'client' %}" class="btn btn-dark">Back to Client List</a>-->
{% include 'header.html' %}
    <h1>Data from Database</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>License key</th>
                    <th>Expiration Date</th>
                    <th>Edit/</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.client.name }}</td>
                    <td>{{ data.license_key }}</td>
                    <td>{{ data.expiration_date }}</td>
                    <td>
                        <a href="{% url 'edit_license' client_id=data.id %}">Edit</a>/
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% include 'footer.html' %}
<!--</body>-->
<!--</html>-->